@import "init.scss";
@import "header.scss";
@import "footer.scss";


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}
a{
    text-decoration:none;
}
	.font{
		float:left;
	}

		.p1{
			font-size: 18px;
			font-family:verdana;
			color:white;
			text-align:center;

		}
		.topd{
			width:100%;
			margin-top:40px;
			float:left;
			padding-left:350px;
			background-color: #d28c3f;
			margin-bottom:20px;
		}
		.square-box{
			width: 100px;
			height: 50px;
			box-sizing: border-box;
			position: relative;
			transform-style: preserve-3d;
			float:left;
			line-height:50px;
		}
		.square-box:hover{
			width: 100px;
			height: 50px;
			box-sizing: border-box;
			position: relative;
			transform-style: preserve-3d;
			/*设置动画 三者分别为：动画名 执行一次时间 执行方式*/
			animation: rotateanimation 0.5s forwards;
			animation-timing-function: linear;/*匀速*/
			float:left;
		}
		.square-box>div{
			position: absolute;
		}
		/*设置六面的视角*/
		.square-box>.front{
			width: 100px;
			height: 50px;
			transform: translateZ(25px);
			background:#da6736;
		}
		.square-box>.bottom{
			width:100px;
			height: 50px;
			transform: rotateX(270deg) translateZ(25px);
			background:#df8649;
		}
		.square-box>.back{
			width: 100px;
			height: 20px;
			transform: translateZ(-25px);
			background:darkcyan;
		}
		.square-box>.top{
			width: 100px;
			height: 50px;
			transform: rotateX(90deg) translateZ(25px);
			background: yellow;
		}
		.square-box>.left{
			width: 50px;
			height: 50px;
			transform: rotateY(270deg) translateZ(25px);
			background: #da6736;
		}
		.square-box>.right{
			width: 50px;
			height: 50px;
			transform: rotateY(90deg) translateZ(75px);
			background: #a7cbf0;
		}
		/*添加动画效果*/
		@keyframes rotateanimation{
			0%{
				transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
			}
			100%{
				transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
			}
		}


















		.logo{
		float:left;
		width:150px;
		margin-top:55px;
		height:150px;
		margin-left:480px;
		background-color:white;
		}
		.logo1{
			float:right;
			margin-right:20px;
		}
		.tip{
			float:right;
			font-size:30px;
			margin-right:120px;
			color:#df8649;
			font-family:verdana;
			line-height:100px;
		}

.hexagon {
    width: 80px;
    height: 92.37604px;
}
.hexagon__rotate {
    width: 80px;
    height: 92.37604px;
    overflow: hidden;
    visibility: hidden;
    position: relative;
}
.hexagon__rotate--left {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}
.hexagon__rotate--right {
    -webkit-transform: rotate(-120deg);
    -ms-transform: rotate(-120deg);
    transform: rotate(-120deg);
}
.hexagon__rotate--center {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    visibility: visible;
}
.hexagon__content {
    background: turquoise;
}
body {
    margin: 0;
    text-align: center;
    overflow-x: hidden;
}







.honeycomb {
    margin-left: -80px;
	margin-right: -80px;
    display: inline-block;
    width: 85px;
	height: 450px;
    padding: 2.5px 2.5px;
    overflow: hidden;
	float:left;
	background-color:#d9bf8c;
}
.hexagon {
    margin: 0 2.5px;
    float: left;
}
@media (max-width: 4000px) and (min-width: 4085px) {
    .honeycomb {
        width: 4250px;
    }
    .hexagon:nth-child(99n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(99n+49) {
        margin-right: 45px;
    }
}
@media (max-width: 4084px) and (min-width: 4000px) {
    .honeycomb {
        width: 4165px;
    }
    .hexagon:nth-child(97n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(97n+48) {
        margin-right: 45px;
    }
}
@media (max-width: 3999px) and (min-width: 3915px) {
    .honeycomb {
        width: 4080px;
    }
    .hexagon:nth-child(95n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(95n+47) {
        margin-right: 45px;
    }
}
@media (max-width: 3914px) and (min-width: 3830px) {
    .honeycomb {
        width: 3995px;
    }
    .hexagon:nth-child(93n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(93n+46) {
        margin-right: 45px;
    }
}
@media (max-width: 3829px) and (min-width: 3745px) {
    .honeycomb {
        width: 3910px;
    }
    .hexagon:nth-child(91n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(91n+45) {
        margin-right: 45px;
    }
}
@media (max-width: 3744px) and (min-width: 3660px) {
    .honeycomb {
        width: 3825px;
    }
    .hexagon:nth-child(89n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(89n+44) {
        margin-right: 45px;
    }
}
@media (max-width: 3659px) and (min-width: 3575px) {
    .honeycomb {
        width: 3740px;
    }
    .hexagon:nth-child(87n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(87n+43) {
        margin-right: 45px;
    }
}
@media (max-width: 3574px) and (min-width: 3490px) {
    .honeycomb {
        width: 3655px;
    }
    .hexagon:nth-child(85n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(85n+42) {
        margin-right: 45px;
    }
}
@media (max-width: 3489px) and (min-width: 3405px) {
    .honeycomb {
        width: 3570px;
    }
    .hexagon:nth-child(83n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(83n+41) {
        margin-right: 45px;
    }
}
@media (max-width: 3404px) and (min-width: 3320px) {
    .honeycomb {
        width: 3485px;
    }
    .hexagon:nth-child(81n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(81n+40) {
        margin-right: 45px;
    }
}
@media (max-width: 3319px) and (min-width: 3235px) {
    .honeycomb {
        width: 3400px;
    }
    .hexagon:nth-child(79n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(79n+39) {
        margin-right: 45px;
    }
}
@media (max-width: 3234px) and (min-width: 3150px) {
    .honeycomb {
        width: 3315px;
    }
    .hexagon:nth-child(77n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(77n+38) {
        margin-right: 45px;
    }
}
@media (max-width: 3149px) and (min-width: 3065px) {
    .honeycomb {
        width: 3230px;
    }
    .hexagon:nth-child(75n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(75n+37) {
        margin-right: 45px;
    }
}
@media (max-width: 3064px) and (min-width: 2980px) {
    .honeycomb {
        width: 3145px;
    }
    .hexagon:nth-child(73n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(73n+36) {
        margin-right: 45px;
    }
}
@media (max-width: 2979px) and (min-width: 2895px) {
    .honeycomb {
        width: 3060px;
    }
    .hexagon:nth-child(71n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(71n+35) {
        margin-right: 45px;
    }
}
@media (max-width: 2894px) and (min-width: 2810px) {
    .honeycomb {
        width: 2975px;
    }
    .hexagon:nth-child(69n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(69n+34) {
        margin-right: 45px;
    }
}
@media (max-width: 2809px) and (min-width: 2725px) {
    .honeycomb {
        width: 2890px;
    }
    .hexagon:nth-child(67n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(67n+33) {
        margin-right: 45px;
    }
}
@media (max-width: 2724px) and (min-width: 2640px) {
    .honeycomb {
        width: 2805px;
    }
    .hexagon:nth-child(65n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(65n+32) {
        margin-right: 45px;
    }
}
@media (max-width: 2639px) and (min-width: 2555px) {
    .honeycomb {
        width: 2720px;
    }
    .hexagon:nth-child(63n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(63n+31) {
        margin-right: 45px;
    }
}
@media (max-width: 2554px) and (min-width: 2470px) {
    .honeycomb {
        width: 2635px;
    }
    .hexagon:nth-child(61n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(61n+30) {
        margin-right: 45px;
    }
}
@media (max-width: 2469px) and (min-width: 2385px) {
    .honeycomb {
        width: 2550px;
    }
    .hexagon:nth-child(59n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(59n+29) {
        margin-right: 45px;
    }
}
@media (max-width: 2384px) and (min-width: 2300px) {
    .honeycomb {
        width: 2465px;
    }
    .hexagon:nth-child(57n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(57n+28) {
        margin-right: 45px;
    }
}
@media (max-width: 2299px) and (min-width: 2215px) {
    .honeycomb {
        width: 2380px;
    }
    .hexagon:nth-child(55n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(55n+27) {
        margin-right: 45px;
    }
}
@media (max-width: 2214px) and (min-width: 2130px) {
    .honeycomb {
        width: 2295px;
    }
    .hexagon:nth-child(53n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(53n+26) {
        margin-right: 45px;
    }
}
@media (max-width: 2129px) and (min-width: 2045px) {
    .honeycomb {
        width: 2210px;
    }
    .hexagon:nth-child(51n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(51n+25) {
        margin-right: 45px;
    }
}
@media (max-width: 2044px) and (min-width: 1960px) {
    .honeycomb {
        width: 2125px;
    }
    .hexagon:nth-child(49n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(49n+24) {
        margin-right: 45px;
    }
}
@media (max-width: 1959px) and (min-width: 1875px) {
    .honeycomb {
        width: 2040px;
    }
    .hexagon:nth-child(47n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(47n+23) {
        margin-right: 45px;
    }
}
@media (max-width: 1874px) and (min-width: 1790px) {
    .honeycomb {
        width: 1955px;
    }
    .hexagon:nth-child(45n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(45n+22) {
        margin-right: 45px;
    }
}
@media (max-width: 1789px) and (min-width: 1705px) {
    .honeycomb {
        width: 1870px;
    }
    .hexagon:nth-child(43n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(43n+21) {
        margin-right: 45px;
    }
}
@media (max-width: 1704px) and (min-width: 1620px) {
    .honeycomb {
        width: 1785px;
    }
    .hexagon:nth-child(41n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(41n+20) {
        margin-right: 45px;
    }
}
@media (max-width: 1619px) and (min-width: 1535px) {
    .honeycomb {
        width: 1700px;
    }
    .hexagon:nth-child(39n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(39n+19) {
        margin-right: 45px;
    }
}
@media (max-width: 1534px) and (min-width: 1450px) {
    .honeycomb {
        width: 1615px;
    }
    .hexagon:nth-child(37n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(37n+18) {
        margin-right: 45px;
    }
}
@media (max-width: 1449px) and (min-width: 1365px) {
    .honeycomb {
        width: 1530px;
    }
    .hexagon:nth-child(35n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(35n+17) {
        margin-right: 45px;
    }
}
@media (max-width: 1364px) and (min-width: 1280px) {
    .honeycomb {
        width: 1445px;
    }
    .hexagon:nth-child(33n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(33n+16) {
        margin-right: 45px;
    }
}
@media (max-width: 1279px) and (min-width: 1195px) {
    .honeycomb {
        width: 1360px;
    }
    .hexagon:nth-child(31n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(31n+15) {
        margin-right: 45px;
    }
}
@media (max-width: 1194px) and (min-width: 1110px) {
    .honeycomb {
        width: 1275px;
    }
    .hexagon:nth-child(29n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(29n+14) {
        margin-right: 45px;
    }
}
@media (max-width: 1109px) and (min-width: 1025px) {
    .honeycomb {
        width: 1190px;
    }
    .hexagon:nth-child(27n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(27n+13) {
        margin-right: 45px;
    }
}
@media (max-width: 1024px) and (min-width: 940px) {
    .honeycomb {
        width: 1105px;
    }
    .hexagon:nth-child(25n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(25n+12) {
        margin-right: 45px;
    }
}
@media (max-width: 939px) and (min-width: 855px) {
    .honeycomb {
        width: 1020px;
    }
    .hexagon:nth-child(23n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(23n+11) {
        margin-right: 45px;
    }
}
@media (max-width: 854px) and (min-width: 770px) {
    .honeycomb {
        width: 935px;
    }
    .hexagon:nth-child(21n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(21n+10) {
        margin-right: 45px;
    }
}
@media (max-width: 769px) and (min-width: 685px) {
    .honeycomb {
        width: 850px;
    }
    .hexagon:nth-child(19n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(19n+9) {
        margin-right: 45px;
    }
}
@media (max-width: 684px) and (min-width: 600px) {
    .honeycomb {
        width: 765px;
    }
    .hexagon:nth-child(17n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(17n+8) {
        margin-right: 45px;
    }
}
@media (max-width: 599px) and (min-width: 515px) {
    .honeycomb {
        width: 680px;
    }
    .hexagon:nth-child(15n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(15n+7) {
        margin-right: 45px;
    }
}
@media (max-width: 514px) and (min-width: 430px) {
    .honeycomb {
        width: 595px;
    }
    .hexagon:nth-child(13n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(13n+6) {
        margin-right: 45px;
    }
}
@media (max-width: 429px) and (min-width: 345px) {
    .honeycomb {
        width: 510px;
    }
    .hexagon:nth-child(11n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(11n+5) {
        margin-right: 45px;
    }
}
@media (max-width: 344px) and (min-width: 260px) {
    .honeycomb {
        width: 425px;
    }
    .hexagon:nth-child(9n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(9n+4) {
        margin-right: 45px;
    }
}
@media (max-width: 259px) and (min-width: 175px) {
    .honeycomb {
        width: 340px;
    }
    .hexagon:nth-child(7n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(7n+3) {
        margin-right: 45px;
    }
}
@media (max-width: 174px) and (min-width: 90px) {
    .honeycomb {
        width: 255px;
    }
    .hexagon:nth-child(5n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(5n+2) {
        margin-right: 45px;
    }
}
@media (max-width: 89px) and (min-width: 5px) {
    .honeycomb {
        width: 170px;
    }
    .hexagon:nth-child(3n+1) {
        margin-left: 45px;
    }
    .hexagon:nth-child(3n+1) {
        margin-right: 45px;
    }
}
@media (min-width: 5px) {
    .honeycomb {
		margin-top:50px;
        padding-bottom: 17.32051px;
    }
    .hexagon {
        margin-bottom: -17.32051px;
    }
}
body {
    background: white;
}
.hexagon:nth-child(1) .hexagon__content {
    background: #df8649;
}

.hexagon:nth-child(1) .hexagon__content:hover{
	background: yellow;
    cursor:pointer;
}
.hexagon:nth-child(2) .hexagon__content {
    background: #db5f34;
}
.hexagon:nth-child(2) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
}
.hexagon:nth-child(3) .hexagon__content {
    background: #de7a45;
}
.hexagon:nth-child(3) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
}
.hexagon:nth-child(4) .hexagon__content {
    background: #dd8a41;
}
.hexagon:nth-child(4) .hexagon__content:hover{
	background: yellow;
    cursor:pointer;
	}
.hexagon:nth-child(5) .hexagon__content {
    background: #de7e46;
}
.hexagon:nth-child(5) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(6) .hexagon__content {
    background: #da7b31;
}
.hexagon:nth-child(6) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(7) .hexagon__content {
    background: #e08453;
}
.hexagon:nth-child(7) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(8) .hexagon__content {
    background: #dc923e;
}
.hexagon:nth-child(8) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(9) .hexagon__content {
    background: #dd7143;
}
.hexagon:nth-child(9) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(10) .hexagon__content {
    background: #da7936;
}
.hexagon:nth-child(10) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(11) .hexagon__content {
    background: #da6736;
}
.hexagon:nth-child(11) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(12) .hexagon__content {
    background: #df7b50;
}
.hexagon:nth-child(12) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(13) .hexagon__content {
    background: #df7e50;
}
.hexagon:nth-child(13) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(14) .hexagon__content {
    background: #df8755;
}
.hexagon:nth-child(14) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(15) .hexagon__content {
    background: #de8251;
}
.hexagon:nth-child(15) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(16) .hexagon__content {
    background: #dc6a44;
}
.hexagon:nth-child(16) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(17) .hexagon__content {
    background: #dc7d45;
}
.hexagon:nth-child(17) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(18) .hexagon__content {
    background: #dd9449;
}
.hexagon:nth-child(18) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(19) .hexagon__content {
    background: #d87234;
}
.hexagon:nth-child(19) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(20) .hexagon__content {
    background: #dc7b4a;
}
.hexagon:nth-child(20) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(21) .hexagon__content {
    background: #dd7e4e;
}
.hexagon:nth-child(21) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(22) .hexagon__content {
    background: #db9c46;
}
.hexagon:nth-child(22) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(23) .hexagon__content {
    background: #dd794f;
}
.hexagon:nth-child(23) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(24) .hexagon__content {
    background: #dfa457;
}
.hexagon:nth-child(24) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(25) .hexagon__content {
    background: #da993e;
}
.hexagon:nth-child(25) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(26) .hexagon__content {
    background: #d9783a;
}
.hexagon:nth-child(26) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(27) .hexagon__content {
    background: #de7f54;
}
.hexagon:nth-child(27) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(28) .hexagon__content {
    background: #da7a43;
}
.hexagon:nth-child(28) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(29) .hexagon__content {
    background: #d89537;
}
.hexagon:nth-child(29) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(30) .hexagon__content {
    background: #db7d48;
}
.hexagon:nth-child(30) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(31) .hexagon__content {
    background: #d77f37;
}
.hexagon:nth-child(31) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(32) .hexagon__content {
    background: #dc9e51;
}
.hexagon:nth-child(32) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(33) .hexagon__content {
    background: #dba349;
}
.hexagon:nth-child(33) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(34) .hexagon__content {
    background: #d68e34;
}
.hexagon:nth-child(34) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(35) .hexagon__content {
    background: #d87a3c;
}
.hexagon:nth-child(35) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(36) .hexagon__content {
    background: #daa549;
}
.hexagon:nth-child(36) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(37) .hexagon__content {
    background: #d87e3d;
}
.hexagon:nth-child(37) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(38) .hexagon__content {
    background: #d88c41;
}
.hexagon:nth-child(38) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(39) .hexagon__content {
    background: #d7733d;
}
.hexagon:nth-child(39) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(40) .hexagon__content {
    background: #db9e4f;
}
.hexagon:nth-child(40) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(41) .hexagon__content {
    background: #d7793e;
}
.hexagon:nth-child(41) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(42) .hexagon__content {
    background: #dca453;
}
.hexagon:nth-child(42) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(43) .hexagon__content {
    background: #d6973a;
}
.hexagon:nth-child(43) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(44) .hexagon__content {
    background: #dc8f58;
}
.hexagon:nth-child(44) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(45) .hexagon__content {
    background: #d58437;
}
.hexagon:nth-child(45) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(46) .hexagon__content {
    background: #d5a237;
}
.hexagon:nth-child(46) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(47) .hexagon__content {
    background: #d79c3f;
}
.hexagon:nth-child(47) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(48) .hexagon__content {
    background: #d6963c;
}
.hexagon:nth-child(48) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(49) .hexagon__content {
    background: #d98f4d;
}
.hexagon:nth-child(49) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(50) .hexagon__content {
    background: #d5a738;
}
.hexagon:nth-child(50) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(51) .hexagon__content {
    background: #d67c41;
}
.hexagon:nth-child(51) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(52) .hexagon__content {
    background: #d6ac41;
}
.hexagon:nth-child(52) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(53) .hexagon__content {
    background: #db9d56;
}
.hexagon:nth-child(53) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(54) .hexagon__content {
    background: #d9a54e;
}
.hexagon:nth-child(54) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(55) .hexagon__content {
    background: #d48e39;
}
.hexagon:nth-child(55) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(56) .hexagon__content {
    background: #d98a4e;
}
.hexagon:nth-child(56) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(57) .hexagon__content {
    background: #dca35f;
}
.hexagon:nth-child(57) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(58) .hexagon__content {
    background: #d47e3a;
}
.hexagon:nth-child(58) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(59) .hexagon__content {
    background: #dab757;
}
.hexagon:nth-child(59) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(60) .hexagon__content {
    background: #d8b24f;
}
.hexagon:nth-child(60) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(61) .hexagon__content {
    background: #d89250;
}
.hexagon:nth-child(61) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(62) .hexagon__content {
    background: #d6b247;
}
.hexagon:nth-child(62) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(63) .hexagon__content {
    background: #dbb05d;
}
.hexagon:nth-child(63) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(64) .hexagon__content {
    background: #d5b344;
}
.hexagon:nth-child(64) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(65) .hexagon__content {
    background: #d38d3c;
}
.hexagon:nth-child(65) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(66) .hexagon__content {
    background: #d8a851;
}
.hexagon:nth-child(66) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(67) .hexagon__content {
    background: #da9d59;
}
.hexagon:nth-child(67) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(68) .hexagon__content {
    background: #d9ab55;
}
.hexagon:nth-child(68) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(69) .hexagon__content {
    background: #dcb862;
}
.hexagon:nth-child(69) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(70) .hexagon__content {
    background: #d7a14e;
}
.hexagon:nth-child(70) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(71) .hexagon__content {
    background: #d48841;
}
.hexagon:nth-child(71) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(72) .hexagon__content {
    background: #dab75f;
}
.hexagon:nth-child(72) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(73) .hexagon__content {
    background: #d8b657;
}
.hexagon:nth-child(73) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(74) .hexagon__content {
    background: #d8a657;
}
.hexagon:nth-child(74) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(75) .hexagon__content {
    background: #d3883e;
}
.hexagon:nth-child(75) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(76) .hexagon__content {
    background: #d6b94f;
}
.hexagon:nth-child(76) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(77) .hexagon__content {
    background: #dbaa64;
}
.hexagon:nth-child(77) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(78) .hexagon__content {
    background: #d28c3f;
}
.hexagon:nth-child(78) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(79) .hexagon__content {
    background: #d5a04c;
}
.hexagon:nth-child(79) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(80) .hexagon__content {
    background: #dab361;
}
.hexagon:nth-child(80) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(81) .hexagon__content {
    background: #d9b45d;
}
.hexagon:nth-child(81) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(82) .hexagon__content {
    background: #d2b640;
}
.hexagon:nth-child(82) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(83) .hexagon__content {
    background: #d9a55d;
}
.hexagon:nth-child(83) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(84) .hexagon__content {
    background: #d2b241;
}
.hexagon:nth-child(84) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(85) .hexagon__content {
    background: #d39b45;
}
.hexagon:nth-child(85) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(86) .hexagon__content {
    background: #d7ba56;
}
.hexagon:nth-child(86) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(87) .hexagon__content {
    background: #d2a145;
}
.hexagon:nth-child(87) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(88) .hexagon__content {
    background: #d9ac63;
}
.hexagon:nth-child(88) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(89) .hexagon__content {
    background: #d5c252;
}
.hexagon:nth-child(89) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(90) .hexagon__content {
    background: #dabb67;
}
.hexagon:nth-child(90) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(91) .hexagon__content {
    background: #d2aa47;
}
.hexagon:nth-child(91) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(92) .hexagon__content {
    background: #d4b14f;
}
.hexagon:nth-child(92) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(93) .hexagon__content {
    background: #d7b75b;
}
.hexagon:nth-child(93) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(94) .hexagon__content {
    background: #d7b15c;
}
.hexagon:nth-child(94) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(95) .hexagon__content {
    background: #d1af43;
}
.hexagon:nth-child(95) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(96) .hexagon__content {
    background: #d7cb5c;
}
.hexagon:nth-child(96) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(97) .hexagon__content {
    background: #d4af50;
}
.hexagon:nth-child(97) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(98) .hexagon__content {
    background: #d5be55;
}
.hexagon:nth-child(98) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(99) .hexagon__content {
    background: #d7c45d;
}
.hexagon:nth-child(99) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}
.hexagon:nth-child(100) .hexagon__content {
    background: #d1bb49;
}
.hexagon:nth-child(100) .hexagon__content:hover{
	background: yellow;
  cursor:pointer;
	}











.all{
	margin-left:70px;
	position:relative;
	width:90%;
	background: #d9bf8c;
	float:left;
	padding-bottom:60px;
	margin-bottom:30px;
}
#container {
    position: relative;
    height: 520px;
    width: 410px;
    margin-top: 50px;
	margin-left: 130px;

    -webkit-perspective: 800px;
    -moz-perspective: 800px;
	float:left;
}
#container div {
    position: absolute;
    left: 0;
    top: 0;
    width: 370px;
    height: 480px;
    padding: 20px;
    background: #463;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -ms-transition: 1.5s ease-in-out;
    -o-transition: 1.5s ease-in-out;
    transition: 1.5s ease-in-out;
}
#container div.lower {
    background: #e08453;
    background: -moz-linear-gradient(-45deg, #e08453, #e0b0a3 50%, #e08453 100%);
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(#e08453), color-stop(50%, #e0b0a3), color-stop(100%, #e08453));
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    width: 370px;
    height: 480px;
		position:relative;
	z-index:2;
}
#container div.lower h1 {
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #fff;
    line-height: 40px;
}
#container div.lower  p{
    text-align:left;
	text-indent:2em;
}
.tx1 {
    color: black;
		font-size: 18px;
		font-weight: bold;
		font-family:宋体;
		line-height:150%;
}
.tx2 {
    color: black;
		font-size: 20px;
		font-weight: bold;
		font-family:宋体;
		line-height:180%;
}
.tx3 {
    color: black;
		font-size: 18px;
		font-weight: bold;
		font-family:宋体;
		line-height:140%;
}
#container div.upper {
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    background: -moz-linear-gradient(-45deg, #db5f34, #db9c46 50%, #db5f34 100%);
    background: -webkit-gradient(linear, 0 0, 100% 100%, from(#db5f34), color-stop(50%, #db9c46), color-stop(100%, #db5f34));
    width: 370px;
    height: 480px;
}
#container:hover div.lower {
    -moz-transform: rotateY(0);
    -webkit-transform: rotateY(0);
    width: 370px;
    height: 480px;
}
#container:hover div.upper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    width: 370px;
    height: 480px;

}






.im{

	padding:3px;
	margin-top:70px;
	max-height:350px;
	max-width:450px;
	height:100%;
	width:100%;
}


h2{
	margin-bottom:5px;
}

.poster{
	height:90px;
    font: 700 70px "Comic Sans MS";
    color:  #db5f34;
	text-align: left;
    margin-top: 90px;

}

.topim{
	margin-left:430px;
	max-height:100px;
	max-width:100px;
	margin-top:10px;
	height:100%;
	width:100%;
	float:left;
	margin-right:20px;

}